.journal-item {
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.03);
    color: #000000;
    padding: 20px;
    border: 1px solid #000;

    &__header {
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
    }

    &__body {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__date {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__text {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        overflow: hidden;
    }
}